.product-sectionn {

    font-family: "Josefin Sans", sans-serif;

}

.product-sectionn-one {
    background: url("../../assets/product-img1.jpg");
    background-size: cover;
    /* fills container */
    height: 300px;
}


.product-section-two {
    background: whitesmoke;
    padding-top: 40px;
    padding-bottom: 50px;


}

.product-head {
    font-size: 2rem;
    font-weight: 700;
    color: #a9802a;
    padding-top: 50px;
    text-align: center;
}

.product-head-sub {
    margin: 10px 50px;
    text-align: justify;
    font-size: 20px;
}


.roe-product p {
    padding-top: 10px;
    color: #a9802a;
    font-weight: 700;

}

.product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 238, 144, 0.733);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.product-button:active {
    background-color: rgba(144, 238, 144, 0.884);
}

.product-last-section {
    text-align: center;
    padding-top: 30px;
    background: url("../../assets/about-last.jpg");
    height: 70vh;


}

.product-last-section h2 {
    font-size: 28px;
    font-weight: 700;
    color: #a9802a;
    margin-bottom: 15px;
    margin-top: 5rem;
}

.product-last-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-last-section .btn-btn-color-ttn {
    background-color: rgba(144, 238, 144, 0.733);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 575.98px) {
    .product-head-sub {
        font-size: 14px;
        
    }

    .product-head {
        font-size: 23px;
    }

    .roe-product p {
        font-size: 14px;
    }

    .product-button {

        font-size: 12px;
        border-radius: 5px;
        border: none;
        height: 20px;
        width: 100px;
        margin: 0 auto;
    }
    .product-last-section{
        background-position:center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product-head-sub {
        font-size: 18px;
        color: blue;
    }
}