@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.carousel-img {
    height: 600px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 250px;
    }

    .section-font {
        font-size: 30px;
        line-height: 1.3;
    }

    .seccion-two {
        padding: 20px 10px;
    }
}

.seccion-two {
    padding: 40px 20px;
}


.section-font {

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #a9802a;
    font-size: 32px;
    text-align: center;

}


.section-two2 {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.section-two3 {
    font-family: "Josefin Sans", sans-serif;
    color: #a9802a;
}

.display-button {
    background-color: rgba(144, 238, 144, 0.733);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 150px;
}

.product-section {
    background: rgba(255, 182, 193, 0.11);
    height: 70vh;

}

.product-heading {
    font-family: "Josefin Sans", sans-serif;
    color: #a9802a;
    padding-top: 30px;
    font-weight: 700;
    text-align: center;
}

.product-image {
    background-color: rgba(245, 245, 245, 0.664);
    font-size: 14px;
    padding: 20px;

}

.product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: opacity 0.6s ease-in-out;
}

.product-image img:hover {
    opacity: 0.4;
    cursor: pointer;

}

.product-image P {
    color: #a9802a;
    font-weight: 700;
    padding-top: 7px;
}

.product-btn {
    background-color: rgba(144, 238, 144, 0.733);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 150px;
    
}

.product-btn:active {
    background-color: rgb(144, 238, 144);
}

.section-four {
    justify-content: center;
    align-items: center;
    margin: 100px;

}

.section-four-btn {
    background-color: rgba(144, 238, 144, 0.733);
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;

}

.section-four-btn:active {
    background-color: rgb(144, 238, 144);

}

.section-heading-one {
    color: #a9802a;
    font-size: 20px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}

.section-img {
    max-width: 100%;
    height: auto;
}


















/*  Mobile */
/* (min-width: 576px) and (max-width: 767.98px) */
@media (max-width: 575.98px) {
    .section-font {
        font-size: 26px;
        line-height: 1.4;
    }

    .section-two2 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .section-two3-sub {
        font-size: 14px;
        text-align: justify;

    }

    .display-button {
        text-align: center;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .product-image img {
        height: 100px;
    }

    .product-image p {
        font-size: 13px;
    }

    .section-heading-one {
        font-size: 14px;
    }

    .section-img img {
        margin-top: 25px;
    }

    .section-four-btn {
        margin-bottom: 20px;
        align-content: center;
    }

    .product-btn{
        margin-bottom: 20px;
    }


}

/*  Tablet */
@media (max-width: 992px) {
    .section-font {
        font-size: 24px;
    }

    .product-image img {
        height: 100px;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .product-image img {
        height: 250px;
    }


}