* {

    font-family: "Josefin Sans", sans-serif;

}

.christmass-section {
    align-content: center;
    text-align: center;
    padding-top: 2rem;
}

.xmass-one h3 {
    color: #a9802a;
    font-size: 2rem;
    font-weight: 700;
}

.xmass-one p {
    margin: 0 100px;
    text-align: justify;
    font-size: 18px;
    padding-top: 2REM;
}






/* Mobile */
@media (max-width: 575.98px) {
    .xmass-one h3 {
        font-size: 1.5rem;
    }

    .xmass-one p {
        margin: 0 30px;
        font-size: 16px;
    }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {}