* {
     font-family: "Josefin Sans", sans-serif;
}

.specal-section {
     text-align: center;
}

.specal-one-img{
     background: url("../../assets/special-img1.jpg"); 
}

.special-one {
     
     color: #a9802a;
     font-weight: bold;
}

.specal-one-para {
     margin: 15px 100px;
     text-align: justify;
     font-size: 18px;
     padding-bottom: 50px;

}

.specal-two-p {
     color: #a9802a;
     font-weight: bold;
     margin-top: 10px;
}

.about-four-btn {
     background-color: rgba(144, 238, 144, 0.733);
     font-size: 15px;
     border-radius: 5px;
     border: none;
     font-family: "Josefin Sans", sans-serif;
     display: block;
     margin: 0 auto;
     /* 👈 centers horizontally */
     height: 30px;
     width: 150px;
     font-weight: 600;
}

.specal-three-two {
     margin: 0px 150px;
     text-align: justify;
}

.specal-three-two {
     padding-bottom: 15px;
     font-size: 18px;
}

.specal-four-title {
     color: #a9802a;
     font-weight: bold;
     margin-top: 30px;
}

.specal-four-p {
     margin-top: 50px;
}

.specal-four{
     background: url("../../assets/special-img7.jpg");
}

.specal-four-btn {
     display: flex;
     gap: 12px;


}

.specal-four-btn input {
     margin-right: 12px;
     background-color: rgba(144, 238, 144, 0.733);
     font-family: "Josefin Sans", sans-serif;

}

.specal-four-btn input:active {
     background-color: rgba(144, 238, 144, 0.904);
}

.specal-four-btn input {

     width: 100px;
     height: 50px;
     border-radius: 25px;

}

.specal-four-btn {
     display: flex;
     justify-content: center;
     gap: 15px;
     margin: 10px;
     padding-bottom: 60px;


}

.special-title{
     padding-top: 50px;
}

/*  Mobile */
@media (max-width: 575.98px) {
     .specal-one-para {
          font-size: 14px;
          margin: 15px 50px;
     }

     .specal-two-p {
          font-size: 14px;
     }

     .specal-three-two {
          margin: 0px 20px;
          font-size: 14px;
     }
}


/* Tab */
@media (min-width: 576px) and (max-width: 991.98px) {}


/*Desktop*/
@media (min-width: 992px) {}