@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100 vh;

}

.nav-brand {
  font-family: "Schoolbell", cursive;
  font-weight: bold;
  font-style: normal;


}

.navbar-bg {
  background-color: rgba(144, 238, 144, 0.534);
}



.navbar-bg .nav-link {
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.8s ease;

}


.navbar-bg .nav-link:hover {
  background-color: rgba(144, 238, 144, 0.734);
  color: black;
}

.nav-button:hover {
  background-color: rgba(88, 236, 88, 0.9) !important;
  color: black !important;
}

/* footer */

.footer {
  background-color: rgba(144, 238, 144, 0.534) !important;
  padding-top: 25px;
  font-family: "Schoolbell", cursive;
  text-align: left;
  bottom: 0;
}

.footer-p {
  color: #a9802a;
  font-weight: bold;
}

.rooter-row a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}




@media (max-width: 575.98px) {
  .rooter-row a{
    font-size: 12px;
  }
  .footer-p{
     font-size: 12px;
  }
}